#Container {
width:1000px;
heigth:auto;
margin-left:auto;
margin-right:auto;
margin-top:11px;
margin-bottom:21px;

}
#Header {
height:270px;
background-color:#ffffff;
}
#Menu {
height:60px;
background-color:#666;

}
#MainBody {
width:700px;
height:1600px;
background-color:#ffffff;
text-align: center;
margin-left:150px;
margin-right:150px;
}
#Footer {
height:100px;
width:700px;
margin-left:150px;
margin-right:150px;
background:#595959;
text-align:center;
clear:both;
}
