html, body, #content {
    height: 100%;
}
#banner {
    display: block;
}
#content, #menu, #banner, #footer {
    margin: 0 auto;
}
@media screen and (min-width: 900px) {
    #content, #menu, #banner, #footer {
        width: 60%;
    }
}
@media screen and (max-width: 900px) {
    #content, #menu, #banner, #footer {
        width: 95%;
    }
}
body {
    background-color: #333;
}
#content {
    background-color: #fff;
    font-family: "Arial", sans-serif;
}
#menu, #footer {
    display: flex;
    background-color: #666;
    padding: 0;
}
#menu {
    justify-content: space-evenly;
    font-family: "Verdana", sans-serif;
    margin-top: 10px;
}
#menu li {
    font-size: 1.125em;
    list-style-type: none;
    padding: 20px;
}
#menu a {
    color: white;
    text-decoration: none;
}
#menu a:hover {
    color: MediumSpringGreen;
}
#footer {
    justify-content: center;
}
#footer li {
    list-style-type: none;
    margin: 12px 4%;
    padding: 0.65em;
    border-radius: 0.65em;
    display: flex;
    align-items: center;
}
#footer img {
    display: block;
    width: 2em;
}
.yt {
    background-color: #fd0032;
}
.insta {
    background-color: darkmagenta;
}
.github {
    background-color: #2c4762;
}
.license {
    background-color: white;
}
.donate {
    background-color: green;
}
.donate img {
    filter: invert(100%);
}